; EditorConfig is awesome: http://EditorConfig.org

root = true

; PHP style
; UTF-8 charset
; Unix-style newlines with a newline ending every file
; 4 space hard tabs indent
; Trim trailing whitespace
[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

; Markdown
; 4 space indent
; Trailing whitespace is potentially meaningful, leave it
[*.md]
indent_style = space
trim_trailing_whitespace = false

; JavaScript & JSON
[*.{js,json}]
indent_style = space
indent_size = 2
