#!/usr/bin/env bash

# Make Sublime Text 2 the default editor
export EDITOR="subl -w";

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications";

# Use Homebrew's directories for rbenv instead of ~/.rbenv
export RBENV_ROOT=/usr/local/var/rbenv

# Set the directory defaults for Sass
export SASS_DIRECTORY="_scss"
export CSS_DIRECTORY="css"

# Add DocBook package for XML generation (used for git-subtree)
export XML_CATALOG_FILES="/usr/local/etc/xml/catalog"

# Chef configurations
export KNIFE_CHEF_SERVER="https://api.chef.io/organizations/darksky"
export KNIFE_CLIENT_KEY="$HOME/.chef/jeffbyrnes.pem"
export KNIFE_NODE_NAME="jeff"
export KNIFE_VALIDATION_CLIENT_NAME="darksky-validator"
export KNIFE_VALIDATION_CLIENT_KEY="$HOME/.chef/darksky-validator.pem"
export CHEF_REPO="$HOME/dev/infrastructure"
export CHEF_COOKBOOKS="${CHEF_REPO}/cookbooks"
export TF_VAR_user_name=$KNIFE_NODE_NAME
export TF_VAR_user_key=$KNIFE_CLIENT_KEY

# AWS stuff
export AWS_REGION="us-east-1"
export AWS_DEFAULT_REGION=$AWS_REGION
