#!/usr/bin/env bash

# Make Visual Studio Code the default editor
export EDITOR="code -w"

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768'
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy'

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768'
export HISTFILESIZE="${HISTSIZE}"
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth'

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}"

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X'

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty)

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# Use Homebrew’s OpenSSL instead of the version-specific one ruby-build installs
# Does not work with Ruby versions <= 2.4
if command -v brew &>/dev/null; then
	export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@1.1)"
fi

# Always run brew cleanup as part of a brew upgrade
export HOMEBREW_INSTALL_CLEANUP=true

# Set the directory defaults for Sass
export SASS_DIRECTORY="_scss"
export CSS_DIRECTORY="css"

# Add DocBook package for XML generation (used for git-subtree)
export XML_CATALOG_FILES="${HOMEBREW_PREFIX}/etc/xml/catalog"

# Set bat theme
# https://github.com/sharkdp/bat
export BAT_THEME="Solarized (light)"

# Perforce
export P4USER="rbyrnes"
export P4PORT="perforce.athenahealth.com:1666"
export P4CLIENT="$P4USER"
export P4EDITOR="$EDITOR"
export P4DIFF=/usr/local/bin/ksdiff
export P4MERGE=/usr/local/bin/ksdiff
