# Make Sublime Text 2 the default editor
# the -w bit ensures we wait until returning to the prompt
# to proceed with any commands (good for commits, etc.)
export EDITOR="subl -w"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md=$(printf $RED)

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Set the directory defaults for Sass
export SASS_DIRECTORY="_scss"
export CSS_DIRECTORY="css"

# Add DocBook package for XML generation (used for git-subtree)
export XML_CATALOG_FILES="/usr/local/etc/xml/catalog"

# EverTrue tools
export JAVA_HOME=/usr/local/java
export MAVEN_HOME=/usr/share/maven
export M2_HOME=$MAVEN_HOME